.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.heading{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}

.page{
    margin: 0 10px;
}

.icon-black {
  fill: black;
}